.cardCreate{
    width: 40%;
    border: 1px solid rgb(41, 143, 41);
    background-color: lightgray;
    padding: 30px;
    margin: auto;
    
}

.abm{
    display: block;
}

.botonVolver{
    padding:10px;
    border: 1px solid lightgreen;
    background-color: rgb(56, 150, 56);
    color: white;
    float: right;
    text-decoration: none;

}

.showClientCreated{
    padding: 10px;
    border: 1px solid blue;
    background-color: lightblue;
    margin: auto;
    width: 40%;

}