
body{
    background-color: rgb(175, 222, 250);
}

.titlebar{
    margin: 0 auto;
    padding: 15px;
    float: middle;
    border: 1px solid rgb(21, 58, 83);
    background-color: rgb(53, 87, 139);

}

.tituloprincipal{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(44, 43, 43);
    text-align: center;
}

.cardbox{
    margin: auto;
    padding: 10px;
    width: 50%;
    
 
}

.tarjetita{
    border-radius: 20px;
    text-align: center;
    margin: 10px;
    border: 1px solid rgb(43, 42, 42); 
    padding: 30px;
    display: inline-block;
    background-color: lightgray;
    width: 30%
                      
}

.tarjetita:hover{
    background-color: rgb(71, 68, 201);
    border-color: rgb(38, 59, 114);
    transition-duration: 0.6s;
    
}

.botontarjeta{
    color: rgb(0, 0, 0);
    border: 1px solid rgb(32, 90, 216);
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    text-decoration: none;
}

.titulotarjeta{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(32, 32, 32);
}

.texttarjeta{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(46, 46, 46)
}

.botontarjeta:hover{
    transition-duration: 0.4s;    
    color: white;
    background-color: rgb(3, 128, 3);
    border: 1px solid rgb(250, 250, 250);
}

.foot{
    padding: 30px;
    margin: auto;
    background-color: rgb(7, 53, 151);
    border: 1px solid rgb(11, 99, 223);
    text-align: right;
    
}

.cpyright{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(196, 195, 195)
}